<md-card>
    <md-card-header>
        <md-card-avatar>
            <md-icon class="md-avatar-icon">
                <i class="material-icons">print</i>
            </md-icon>
        </md-card-avatar>
        <md-card-header-text>
            <span class="mdi-title">สรุปรายงาน</span>
            <span class="md-subhead">สรุปยอดผู้ป่วยแยกตามหมู่บ้าน</span>
        </md-card-header-text>
    </md-card-header>
    <md-card-content>
        <div layout="row">
            <div flex="30">
                ตั้งแต่
                <md-datepicker ng-model="startDate" md-placeholder="Enter date"></md-datepicker>
            </div>
            <div flex="30">
                ถึง
                <md-datepicker ng-model="endDate" md-placeholder="Enter date"></md-datepicker>
            </div>
            <md-button class="md-raised md-primary" ng-click="getCkd()">ประมวลผล</md-button>
            <md-button class="md-raised" ng-click="exportToExcel()">Excel Export</md-button>
        </div>
    </md-card-content>
</md-card>

<md-card>
    <md-card-content>
        <md-progress-linear md-mode="indeterminate" ng-show="showProgress"></md-progress-linear>

        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="ผลประเมิน CKD">
                <md-table-container>
                    <table md-table>
                        <thead md-head>
                        <tr md-row>
                            <th md-column>รหัสหมู่บ้าน</th>
                            <th md-column>ชื่อ</th>
                            <th md-column style="background-color: #4dc71f; text-align: center;">STATE 1</th>
                            <th md-column style="background-color: #abef98; text-align: center;">STATE 2</th>
                            <th md-column style="background-color: #ffff8d; text-align: center;">STATE 3</th>
                            <th md-column style="background-color: #990000; text-align: center;">STATE 4</th>
                            <th md-column style="background-color: #ff0000; text-align: center;">STATE 5</th>
                        </tr>
                        </thead>
                        <tbody md-body>
                        <tr md-row ng-if="!villages.length">
                            <td md-cell colspan="8">ไม่พบรายการ, กรุณาเลือกช่วงเวลา และ ประมวลผลใหม่อีกครั้ง</td>
                        </tr>
                        <tr md-row ng-if="villages.length" ng-repeat="v in villages">
                            <td md-cell>{{ v.code }}</td>
                            <td md-cell>{{ v.name }}</td>
                            <td md-cell>{{ v.ckd_state1 }}</td>
                            <td md-cell>{{ v.ckd_state2 }}</td>
                            <td md-cell>{{ v.ckd_state3 }}</td>
                            <td md-cell>{{ v.ckd_state4 }}</td>
                            <td md-cell>{{ v.ckd_state5 }}</td>
                        </tr>
                        <tr md-row  ng-if="villages.length">
                            <td md-cell colspan="2"><strong>รวม</strong></td>
                            <td md-cell style="cursor: hand;" ng-click="goStateView(1, 'ckd')"><strong>{{ totalCKDState1 }}</strong></td>
                            <td md-cell style="cursor: hand;" ng-click="goStateView(2, 'ckd')"><strong>{{ totalCKDState2 }}</strong></td>
                            <td md-cell style="cursor: hand;" ng-click="goStateView(3, 'ckd')"><strong>{{ totalCKDState3 }}</strong></td>
                            <td md-cell style="cursor: hand;" ng-click="goStateView(4, 'ckd')"><strong>{{ totalCKDState4 }}</strong></td>
                            <td md-cell style="cursor: hand;" ng-click="goStateView(5, 'ckd')"><strong>{{ totalCKDState5 }}</strong></td>
                        </tr>
                        </tbody>
                    </table>
                </md-table-container>
            </md-tab>
            <md-tab label="ผลประเมิน CVD">
                <md-table-container>
                    <table md-table>
                        <thead md-head>
                        <tr md-row>
                            <th md-column>รหัสหมู่บ้าน</th>
                            <th md-column>ชื่อ</th>
                            <th md-column style="background-color: #4dc71f; text-align: center;">ต่ำ (< 10%)</th>
                            <th md-column style="background-color: #abef98; text-align: center;">ปานกลาง (10 - <20 % )</th>
                            <th md-column style="background-color: #ffff8d; text-align: center;">สูง (20 - <30 %)</th>
                            <th md-column style="background-color: #ff0000; text-align: center;">สูงมาก (30 - <40 %)</th>
                            <th md-column style="background-color: #990000; text-align: center;">สูงอันตราย (>= 40 %)</th>
                        </tr>
                        </thead>
                        <tbody md-body>
                        <tr md-row ng-if="!villages.length">
                            <td md-cell colspan="8">ไม่พบรายการ, กรุณาเลือกช่วงเวลา และ ประมวลผลใหม่อีกครั้ง</td>
                        </tr>
                        <tr md-row ng-if="villages.length" ng-repeat="v in villages">
                            <td md-cell>{{ v.code }}</td>
                            <td md-cell>{{ v.name }}</td>
                            <td md-cell>{{ v.cvd_state1 }}</td>
                            <td md-cell>{{ v.cvd_state2 }}</td>
                            <td md-cell>{{ v.cvd_state3 }}</td>
                            <td md-cell>{{ v.cvd_state4 }}</td>
                            <td md-cell>{{ v.cvd_state5 }}</td>
                        </tr>
                        <tr md-row  ng-if="villages.length">
                            <td md-cell colspan="2">รวม</td>
                            <td md-cell style="cursor: hand;" ng-click="goStateView(1, 'cvd')"><strong>{{ totalCVDState1 }}</strong></td>
                            <td md-cell style="cursor: hand;" ng-click="goStateView(2, 'cvd')"><strong>{{ totalCVDState2 }}</strong></td>
                            <td md-cell style="cursor: hand;" ng-click="goStateView(3, 'cvd')"><strong>{{ totalCVDState3 }}</strong></td>
                            <td md-cell style="cursor: hand;" ng-click="goStateView(4, 'cvd')"><strong>{{ totalCVDState4 }}</strong></td>
                            <td md-cell style="cursor: hand;" ng-click="goStateView(5, 'cvd')"><strong>{{ totalCVDState5 }}</strong></td>
                        </tr>
                        </tbody>
                    </table>
                </md-table-container>
            </md-tab>
        </md-tabs>

    </md-card-content>
</md-card>